[submodule "circu.js"]
	path = circu.js
	url = https://github.com/imzlh/circu.js
[submodule "cno"]
	path = cno
	url = https://github.com/imzlh/cno
[submodule "cts"]
	path = cts
	url = https://github.com/imzlh/cts
[submodule "ext-quic"]
	path = ext-quic
	url = https://github.com/imzlh/cno-ext-quic
[submodule "http"]
	path = http
	url = https://github.com/imzlh/cno-stdhttp
[submodule "ext-oxc"]
	path = ext-oxc
	url = https://github.com/imzlh/cjs-ext-oxc
